.jh-carousel {
    margin-bottom: 100px;
}

.jh-smallImage {
    border-radius: 50%;
    height: 195px;
    margin-bottom: 20px;
}

.jh-bottomImage1 {
    height: 335px;
}

.jh-bottomImage2 {
    height: 335px;
    margin-left: -96px;
}

.jh-bottomImage3 {
    height: 335px;
}